@model Usuario
@{
    ViewData["Title"] = $"Perfil de {Model.UserName}";
    var origem = ViewBag.UsuarioAtual as string;
    var destino = Model.Id as string;
    var isAmigo = ViewBag.AmigoOuNao;
}

@if (isAmigo) { 
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Tem certeza?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onclick="HideModal()"></button>
                </div>
                <div class="modal-body">
                    Essa ação irá remover @Model.UserName de sua lista de amigos e o impedirá de mandar 
                    mensagens para @Model.UserName. @Model.UserName não irá ser notificado ao ser removido.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" onclick="HideModal()">Cancelar</button>
                    <a asp-action="RemoveFriend" asp-route-destino="@destino" class="btn btn-primary btn-danger">Confirmar</a>
                </div>
            </div>
        </div>
    </div>
}
<div class="p-5 m-md-3 mb-4 bg-perfil rounded-pill" id="editarFalso">
    <div class="container-fluid py-5">
        <div class="row align-items-center editar-falso">
            <img src="@Model.LinkImagem" class="img-perfil img-fluid editar-falso" />
            <div class="flex-column">
                <h1 class="display-5 fw-bold">@Model.UserName</h1>
                @if (isAmigo)
                {
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" onclick="ShowModal()">
                        Remover amigo
                    </button>
                }
                else
                {
                    <form id="enviarPedido">
                        <button class="btn btn-primary btn-lg" type="submit" value="send">Enviar pedido de amizade</button>
                    </form>
                }
            </div>
        </div>
    </div>
</div>




@section scripts{
    <script>
        var origem = "@origem";
        var destino = "@destino";
        function ShowModal() {
            $('#staticBackdrop').modal('toggle');
            $('#staticBackdrop').modal('show');
        }
        function HideModal() {
            $('#staticBackdrop').modal('hide');
        }
    </script>
}
