@using Microsoft.AspNetCore.Identity
@model List<IdentityUser>
@{
    ViewData["Title"] = "Seu Feed";
    var mensagens = ViewBag.Mensagens as List<Mensagem>;
    var nomeUsuario = ViewBag.NomeUsuarioLogado as string;
    var linkImagemUsuario = ViewBag.LinkImagem as string;
    var Postagens = ViewBag.Postagens as List<Postagem>;
    var amigos = ViewBag.Amigos as List<Usuario>;
    var linkPerfil = $"/User/Index/{ViewBag.linkPerfil}" as string;
}

@{
    #region Feed / Posts
    <div class="container">
        <main role="main" class="pb-3">
            <div class="barra-lateral">
                <a href="pagina do usuario" class="btn btn-light">
                    <img src="@linkImagemUsuario" class="usuario-imagem" />@nomeUsuario
                </a>
            </div>
            <div id="feed">
                @if (Postagens != null)
                {
                    @foreach (Postagem postagem in Postagens)
                    {
                        <div class="post">
                            <img src="@linkImagemUsuario" class="usuario-imagem" />
                            <a href="@postagem.UsuarioIdPost">@nomeUsuario</a>
                            <p>@postagem.Texto</p>
                            @if (postagem.UrlImagem != null)
                            {
                                <img src="@postagem.UrlImagem" />
                            }
                            <button class="btn btn-danger">Like</button>
                            <button class="btn btn-secondary">Comentar</button>
                        </div>
                    }
                }
            </div>
        </main>
    </div>
    #endregion
}
@{
    #region Chat geral

    <!-- Configurações CSS estão em wwwroot/css/site.css -->
    <div class="container-chat" id="container-chat">
        <div class="chat-title title" id="title">
            Chat global
            <button type="submit" class="mostrarChat" id="mostrarChat" onclick="mostrarChat()">-</button>
        </div>
        <div class="chat" id="chatMain">
            <div class="inner-chat" id="chat">
                @if (mensagens != null)
                {
                    @foreach (var mensagem in mensagens.OrderBy(m => m.DataEnvio))
                    {
                        if(mensagem.AlvoId == null) { 
                            var position = nomeUsuario == mensagem.NomeUsuario ? "text-right" : "text-left";
                            var alert = nomeUsuario == mensagem.NomeUsuario ? "alert-light" : "alert-dark";
                            <div class="row">
                                <div class="col-md-12 @position">
                                    <img src="@linkImagemUsuario" class="usuario-imagem @position" />
                                    <small class="text-dark">@mensagem.NomeUsuario</small>
                                    <div class="alert mb-0 @alert" role="alert">
                                        <span class="d-block">@mensagem.Texto</span>
                                    </div>
                                    <small class="text-info">@mensagem.DataEnvio.ToString("dd/MM HH:mm")</small>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        </div>
        <form asp-action="EnviarMensagem" id="SendMessageForm" class="row enviar">
            <div class="input-group col-md-12 mb-4">
                <input name="Texto" id="MessageText" class="form-control" />
                <button type="submit" id="submitBtn" class="btn btn-info" value="">Enviar</button>
            </div>
        </form>
    </div>
    #endregion
}

@{
    #region Lista de amigos
    <div class="lista-amigos" id="lista">
        <div class="friend-title title" id="title-amigo">
            Lista de amigos
            <button class="mostrarChat" id="mostrarLista" onclick="mostrarLista()">-</button>
        </div>
        @if (amigos != null)
        {
            <ul class="list-group" id="amigos">
                @foreach (Usuario amigo in amigos)
                {
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        @amigo.UserName
                        <button type="button" id="abrirPrivado-@amigo.Id" class="btn btn-info">Enviar mensagem</button>
                    </li>
                }
            </ul>
        }
    </div>
    #endregion
    #region Chats privados
    
    if (amigos != null)
    {   
        @foreach(Usuario amigo in amigos) 
        { 
            <div class="container-chat privado" id="container-chat-@amigo.Id">
                <div class="chat-title title" id="title-@amigo.Id">
                    Chat com @amigo.UserName
                    <div>
                        <button type="submit" class="mostrarChat" id="mostrarChat-@amigo.Id">-</button>
                        <button type="submit" class="mostrarChat" id="fecharChat-@amigo.Id">x</button>
                    </div>
                </div>
                <div class="chat" id="chatMain-@amigo.Id">
                    <div class="inner-chat" id="chat-@amigo.Id">
                        @if (mensagens != null)
                        {
                            @foreach (Mensagem mensagem in mensagens.Where(m => m.AlvoId == amigo.Id && m.UsuarioID == ViewBag.linkPerfil || m.UsuarioID == amigo.Id && m.AlvoId == ViewBag.linkPerfil))
                            {
                                var position = nomeUsuario == mensagem.NomeUsuario ? "text-right" : "text-left";
                                var alert = nomeUsuario == mensagem.NomeUsuario ? "alert-light" : "alert-dark";
                                <div class="row">
                                    <div class="col-md-12 @position">
                                        <img src="@linkImagemUsuario" class="usuario-imagem @position" />
                                        <small class="text-dark">@mensagem.NomeUsuario</small>
                                        <div class="alert mb-0 @alert" role="alert">
                                            <span class="d-block">@mensagem.Texto</span>
                                        </div>
                                        <small class="text-info">@mensagem.DataEnvio.ToString("dd/MM HH:mm")</small>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <form asp-action="EnviarMensagem" id="SendMessageForm-@amigo.Id" class="row enviar">
                    <div class="input-group col-md-12 mb-4">
                        <input name="Texto" id="MessageText-@amigo.Id" class="form-control" />
                        <button type="submit" id="submitBtn" class="btn btn-info" value="">Enviar</button>
                    </div>
                </form>
            </div>
        }
    }
    #endregion
}



@section scripts
{
    <!-- Chat geral -->
    <script>
        var nomeUsuario = "@nomeUsuario";
        var linkImagemUsuario = "@linkImagemUsuario";
        var linkPerfil = "@linkPerfil";
        var idAtual = "@ViewBag.linkPerfil";
        var objDiv = document.getElementById("chatMain");
        objDiv.scrollTop = objDiv.scrollHeight;

        /*Construir e estilizar mensagens novas enviadas por websocket*/
        function formatDate(dateString) {
            var date = new Date(Date.parse(dateString))
            var dateStr =
                ("00" + date.getDate()).slice(-2) + "/" +
                ("00" + (date.getMonth() + 1)).slice(-2) + " " +
                ("00" + date.getHours()).slice(-2) + ":" +
                ("00" + date.getMinutes()).slice(-2)
            return dateStr
        }

        connection.on("ReceberMensagem", (mensagem) => {
            console.log(mensagem);
            innerChatId = "chat";
            criarMensagem(mensagem);
        });
        connection.on("ReceberMensagemPrivada", (mensagem, destino) => {
            if (destino != idAtual) {
                innerChatId = "chat-" + destino;
            } else {
                innerChatId = "chat-" + mensagem.usuarioID;
            }
            console.log(mensagem);
            criarMensagem(mensagem);
            var objDivPriv = document.getElementById("chatMain-" + mensagem.usuarioID);
            console.log(destino);
            objDivPriv.scrollTop = objDivPriv.scrollHeight;
        });
        function CarregarChat(destino, destino_user) {
            innerChatId = "chat-" + destino;
            connection.invoke("EntrarGrupo", destino_user);
            var outrosChats = document.getElementsByClassName("privado");
            for (i = 0; i < outrosChats.length; i++) {
                outrosChats[i].style.display = "none";
            }
            console.log(destino);
            document.getElementById(innerChatId).style.display = "block";
            document.getElementById("SendMessageForm-" + destino).style.display = "block";
            document.getElementById("title-" + destino).style.display = "flex";
            document.getElementById("chatMain-" + destino).style.display = "block";
            document.getElementById("container-chat-" + destino).style.display = "flex"
            document.getElementById("container-chat").style.right = "950px";

            var botaoMostrar = document.getElementById("mostrarChat-" + destino);
            console.log("teste");
            botaoMostrar.addEventListener("click", () => {
                if (botaoMostrar.textContent == "+") {

                    botaoMostrar.textContent = "-";
                    document.getElementById("chatMain-" + destino).style.display = "block";
                    document.getElementById("container-chat-" + destino).style.height = "623px"
                    document.getElementById("SendMessageForm-" + destino).style.display = "block";
                    connection.invoke("EntrarGrupo", destino_user);
                }
                else {
                    botaoMostrar.textContent = "+";
                    document.getElementById("chatMain-" + destino).style.display = "none";
                    document.getElementById("SendMessageForm-" + destino).style.display = "none";
                    document.getElementById("container-chat-" + destino).style.height = "6vh"
                    connection.invoke("SairGrupo", destino_user);
                }
            });
            console.log("teste");
            var fecharChat = document.getElementById("fecharChat-" + destino);

            fecharChat.addEventListener("click", () => {
                document.getElementById("container-chat-" + destino).style.display = "none"
                document.getElementById("container-chat").style.right = "46vh";
                connection.invoke("SairGrupo", destino_user);
            });
        };
    </script>
@if(amigos != null) {
    @for(int i = 0; i < amigos.Count; i++) {
        <script>
            document.getElementById("abrirPrivado-@amigos[i].Id").addEventListener("click", function (event) {
                event.preventDefault();
                CarregarChat("@amigos[i].Id", "@amigos[i].UserName");
            });
            document.getElementById("SendMessageForm-@amigos[i].Id").addEventListener("submit", function (event) {
                event.preventDefault();
                var data = {
                    Texto: document.getElementById("MessageText-@amigos[i].Id").value,
                    NomeUsuario: nomeUsuario,
                    LinkImagem: linkImagemUsuario,
                    AlvoId: "@amigos[i].Id",
                    UsuarioID: idAtual
                }

                document.getElementById("MessageText-@amigos[i].Id").value = ""
                connection.invoke("enviarMensagensPrivadas", data).catch(function (err) {
                    return console.error(err.toString());
                });
            });
            window.addEventListener("unload", function () {
                connection.invoke("SairGrupo", "@amigos[i].UserName");
            });
        </script>
    }
}

    <!-- Minimizar chat geral -->
    <script>
        function mostrarChat() {
            var mostrarBotao = document.getElementById("mostrarChat");
            if (mostrarBotao.textContent == "+") {
                mostrarBotao.textContent = "-";
                document.getElementById("container-chat").style.height = "623px"
                document.getElementById("chatMain").style.display = "block";
                document.getElementById("title").style.bottom = "570px";
                document.getElementById("SendMessageForm").style.display = "block";
            } else {
                mostrarBotao.textContent = "+";
                document.getElementById("container-chat").style.height = "6vh"
                document.getElementById("chatMain").style.display = "none";
                document.getElementById("title").style.bottom = "0";
                document.getElementById("SendMessageForm").style.display = "none";
            }
        }
    </script>

    <!-- Minimizar lista de amigos -->
    <script>
        function mostrarLista() {
            var mostrarBotao = document.getElementById("mostrarLista");
            if (mostrarBotao.textContent === "+") {
                mostrarBotao.textContent = "-";
                document.getElementById("lista").style.height = "61.6vh"
                document.getElementById("title-amigo").style.bottom = "61.6vh";
                document.getElementById("amigos").style.display = "block";
            } else {
                mostrarBotao.textContent = "+";
                document.getElementById("lista").style.height = "6vh"
                document.getElementById("title-amigo").style.bottom = "0";
                document.getElementById("amigos").style.display = "none";
            }
        }
    </script>
}